
<div class="container">
    <div class="row">
        <div class="search-hero">
        <b>Search : </b>    <input type="text" name="search" [(ngModel)]="searchText" placeholder="search by subject">
        </div>
    </div>
</div>
<button routerLink="/admin/add-subject"  mat-raised-button color="primary">Add new Subject</button>
<table class="styled-table" >
    <thead>
        <tr>
            
            <th>Standard </th>
            <th>Subject </th>
            <th>Update subject</th>
            <th>Delete subject</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let s of subjects | filter:searchText|paginate:{itemsPerPage: tableSize, currentPage:page, totalItems:count}; let i = index">
           
            <td>  {{s.standard.standardName}}  </td>
            <td> {{s.subjectName}}  </td>
            <!-- <td><button  mat-raised-button color="primary" (click)="update(s.subjectId)" > Update</button></td> -->
            <td><button mat-icon-button  color="primary" (click)="update(s.subjectId)" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>edit</mat-icon>
              </button></td>
            <!-- <td><button  mat-raised-button color="warn" (click)="deleteSubject(s.subjectId)" >Delete</button></td> -->
            <td>
                <button mat-icon-button  color="warn" (click)="deleteSubject(s.subjectId)" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                  </button>

            </td>
        </tr>
        <!-- <tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
        </tr> -->
        <!-- <tr>
            <td>Dom</td>
            <td>6000</td>
        </tr> -->
        <!-- and so on... -->
    </tbody>
</table>
<div style="margin-right:150px;text-align: right;">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
</div><br>
<div style="margin-right:150px;text-align: right;">
    <label>Page size:</label>
    <select  (change)="OnTableSizeChange($event)">
        
       <option *ngFor="let size of tableSizes">
       
            {{size}}
       </option>
    </select>
</div>

