
<br><br><br>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card style="width: 120%; margin-left: 0px;">
                <form class="text-center " (ngSubmit)="registerForm.form.valid && changepassword()" #registerForm="ngForm" >
                    <!-- (ngSubmit)="registerForm.form.valid && changepassword()" #registerForm="ngForm" -->
                    <!--username field -->
                     <br>
                     
                    <mat-form-field class="full-width" appearance="outline">
                        <input  name="oldpassword" [(ngModel)]="password.oldpassword" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"  [type]="hide ? 'password' : 'text'"  #oldpassword="ngModel"  matInput  placeholder="enter password" >
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="hide ? 'Show oldpassword' : 'Hide oldpassword'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                        
                              <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" -->
                      </mat-form-field><br>
                      <mat-form-field class="full-width" appearance="outline">
                        <input  name="newpassword" [(ngModel)]="password.newpassword" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"  [type]="hide1 ? 'password' : 'text'"  #newpassword="ngModel"  matInput  placeholder="enter password" >
                            <button type="button" mat-icon-button matSuffix (click)="hide1= !hide1" [attr.aria-label]="hide1 ? 'Show newpassword' : 'Hide newpassword'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                                   
                        
                      </mat-form-field>
                    <div class="container">
                        <button type="submit" mat-raised-button color="warn">Change password</button>
                        
                    </div> <br>
                    <!-- <div class="container">
                        <button  mat-raised-button color="accent">Forgot password</button>
                    </div> -->
                
                      
    
                      
                </form>
            </mat-card>
            
            </div>
        </div>
    </div>
</div>
