<!-- <mat-card> -->
   
   <mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="container text-center">
                <img src="../../../assets/profilepic.png" class="profile-image"/> 
                <h1 class="mt-20">{{userDetails.firstname}} {{userDetails.lastname}}</h1>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <table class="table" style="margin-left: 370px;">
                        <tr>
                            <td>Username: </td>
                            <td>{{userDetails.username}}</td>
                        </tr>
                        
                        <tr>
                            <td>email id: </td>
                            <td>{{userDetails.email}}</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    
   </mat-card-content>
<!-- </mat-card> -->
