.text-center{
    text-align: center;
}
.full-width{
    width: 30%;
}

.ml{
    margin-left:20px;
}
.body{
    background-image: url("../../assets/school8.jpg");
    /* background-image: url("../../assets/school1.jpg"); */
    height: 92%;
    width: auto;
    background-position: center;
    /* background-size: cover; */
    overflow: hidden;
    
}