<!-- <p>user-sidebar works!</p> -->
<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/user-dashboard" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon> Home
        </button>
        <button  mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>Profile
        </button>
        <button routerLink="/user-dashboard/changepass"mat-list-item >
            <mat-icon mat-list-icon>vpn_key</mat-icon> Change Password
        </button>
        
    </mat-action-list>
</mat-card>
<!-- {{subjects|json}} -->

