.text-center{
    text-align: center;
}
.full-width{
    width: 30%;
}

.ml{
    margin-left:20px;
}
.body{
    background-image: url("../../../../assets/school7.jpg");
    height: 92%;
    width: auto;
    position: center;
    background-size: cover;
    padding-top: 0%;
    /* overflow: hidden; */
}