<div class="body">
   <br><br><br><br><br><br><br><br><br>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col md 6">
            <br>
            <p class="text-center" style="font-size: 29px;">Forgot Password </p><br>
            <form class="text-center" (ngSubmit)=" registerForm.form.valid && getuser()" #registerForm="ngForm" >
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input required [(ngModel)]="username" name="username" matInput placeholder="Enter username">
                   <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
                    
                  </mat-form-field><br>
                  <div class="container">
                    <button type="submit" mat-raised-button color="primary">Submit</button>
                    
                </div><br>
                <a  href="login" >Login</a>

            </form>
        </div>
    </div>
</div>

</div>
