
<mat-card class="card">
    <mat-action-list>
        <!-- <div mat-subheader>Menu</div> -->
        <button  routerLink="/admin/home" style="color: white; margin-left: 40px;" >
            <mat-icon mat-list-icon style="color: white">home</mat-icon> Home
        </button> <br><br>

        <button routerLink="/admin/profile" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">account_circle</mat-icon> Profile
        </button><br><br>
        <button  routerLink="/admin/standard" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">school</mat-icon> Standard
        </button><br><br>
        <!-- <button mat-list-item routerLink="/admin/add-standard">
            <mat-icon mat-list-icon>addbox</mat-icon> Add Standard
        </button> -->
        <button  routerLink="/admin/section" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">school</mat-icon> Section
        </button><br><br>
        
        <!-- <button mat-list-item routerLink="/admin/add-section">
            <mat-icon mat-list-icon>addbox</mat-icon> Add Section
        </button> -->
        <button  routerLink="/admin/subject" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">list_alt</mat-icon> Subject
        </button><br><br>
        
        <!-- <button mat-list-item>
            <mat-icon mat-list-icon routerLink="/admin/users">person</mat-icon> View User
        </button> -->
        <button  routerLink="/admin/users" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">person</mat-icon> Student
        </button><br><br>
        
        <!-- <button mat-list-item routerLink="/admin/add-users">
            <mat-icon mat-list-icon >person_add</mat-icon> Add Student
        </button> -->
        <button routerLink="/admin/viewquiz" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">quiz</mat-icon> Quiz
        </button><br><br>

        
        <button routerLink="/admin/changepassword" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">vpn_key</mat-icon> Change Password
        </button><br><br>
        <button   routerLink="/admin/result" style="color: white;margin-left: 40px;">
            <mat-icon mat-list-icon style="color: white">assessment</mat-icon> Result
        </button><br><br>
        <!-- <button mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>Profile
        </button> -->
    </mat-action-list>
</mat-card>
<!-- mat-list-item -->