
<ngx-ui-loader text="Please wait" ></ngx-ui-loader>
<h1   style="color: #683cb4; text-align: center;font-weight: bold;">Welcome Admin</h1>
     <!-- <mat-card-title>Dashboard</mat-card-title> -->
   <!-- <mat-card class="inline-block"  style="width: 20%; margin-left: 0px;height:20vh;background-color:palegreen;font-weight: bold;box-shadow: 10px 10px 5px lightblue;">
    <mat-card-header >No of students who passed</mat-card-header>
    <mat-card-content style="margin-top: 30%;font-weight:bold;font-size: 25px;">{{pass}}</mat-card-content>
   </mat-card>
   <mat-card class="inline-block" style="width: 20%; margin-left: 20px;height:20vh;background-color:pink;font-weight: bold;box-shadow: 10px 10px 5px lightblue;">
    <mat-card-header>No of students who failed</mat-card-header>
    <mat-card-content style="margin-top: 30%;font-weight:bold;font-size: 25px">{{fail}}</mat-card-content>
   </mat-card>  -->
   <mat-card class="inline-block" style="width: 20%; margin-left: 20px;height:20vh;background-color:pink;font-weight: bold;box-shadow: 10px 10px 5px lightblue;">
    <mat-card-header> Users</mat-card-header>
    <mat-card-content style="margin-top: 30%;font-weight:bold;font-size: 25px">{{usercount}}</mat-card-content>
   </mat-card> 

   <mat-card class="inline-block" style="width: 20%; margin-left: 20px;height:20vh;background-color:aqua;font-weight: bold;box-shadow: 10px 10px 5px lightblue;">
    <mat-card-header> Standards</mat-card-header>
    <mat-card-content style="margin-top: 30%;font-weight:bold;font-size: 25px">{{standardcount}}</mat-card-content>
   </mat-card> 
   <mat-card class="inline-block" style="width: 20%; margin-left: 20px;height:20vh;background-color:aquamarine;font-weight: bold;box-shadow: 10px 10px 5px lightblue;">
    <mat-card-header> Active Quiz</mat-card-header>
    <mat-card-content style="margin-top: 30%;font-weight:bold;font-size: 25px">{{quizcount}}</mat-card-content>
   </mat-card> 
   <mat-card class="inline-block" style="width: 20%; margin-left: 20px;height:20vh;background-color:lavender;font-weight: bold;box-shadow: 10px 10px 5px lightblue;">
    <mat-card-header> InActive Quiz</mat-card-header>
    <mat-card-content style="margin-top: 30%;font-weight:bold;font-size: 25px">{{inactivequiz}}</mat-card-content>
   </mat-card> 
  
  
 <!-- <div > -->
    
        <!-- <h1   style="color: #683cb4; text-align: center;font-weight: bold;">Welcome Admin</h1>
        <mat-card style="width: 20%; margin-left: 0px;height:20vh;background-color:aqua;font-weight: bold;">
        <mat-card-header>No of students who passed</mat-card-header>
        <mat-card-content style="margin-top: 30%;font-weight:bold">{{pass}}</mat-card-content>
      </mat-card><br>
    

    
    
    <mat-card  style="width: 20%; margin-left: 0px;height:20vh;background-color:pink;font-weight: bold;">
        <mat-card-header>No of students who failed</mat-card-header>
        <mat-card-content style="margin-top: 30%;font-weight:bold">{{fail}}</mat-card-content>
      </mat-card>
    


 -->

<!-- </div>  -->

